<%- include ../partials/header.ejs %>  <!--Header--> 
<%- include ../partials/main_nav.ejs %> <!--Main Navigation-->
<!--Content for adding the book-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 class="recipetitle">Recipes</h1> <!--Titel-->

            <form class="form" method="post"> <!--Post Method-->
                <!--Name-->
                <div class="form-group">
                    <label for="nameTextField">Dish Name</label> <!--Label-->
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter recipe's name"
                    name="name" value = "<%= Recipe.name%>" required> <!--Input-->
                </div>
                <!--Ingredients-->
                <div class="form-group">
                    <label for="ingredients">Ingredients</label> <!--Label-->
                    <textarea type="text" class="form-control"
                    id="ingredients"
                    placeholder="Enter the ingredients"
                    name="ingredients" required><%= Recipe.ingredients%></textarea> <!--Input-->
                </div>
                <!--Intructions-->
                <div class="form-group">
                    <label for="instructions">Instructions</label> <!--Label-->
                    <textarea type="text" class="form-control"
                    id="instructions"
                    placeholder="Enter the instructions"
                    name="instructions" required><%= Recipe.instructions%></textarea> <!--Input-->
                </div>
                <!--Time-->
                <div class="form-group">
                    <label for="timeTextArea">Time</label> <!--Label-->
                    <input type="text" class="form-control"
                    id="timeTextArea"
                    placeholder="Enter the time it takes"
                    name="time" value = "<%= Recipe.time%>" required> <!--Input-->
                </div>
                <!--Type-->
                <div class="form-group">
                    <label for="TypeTextField">Type</label> <!--Label-->
                    <input type="text" class="form-control"
                    id="TypeTextField"
                    placeholder="Enter the type of dish"
                    name="type" value = "<%= Recipe.type%>" required> <!--Input-->
                </div>
                <br>
                <!--Buttons-->
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button> <!--Submit Button-->
                <a href="/recipes" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel
                </a> <!--Cancel button-->
            </form>
        </div>
    </div>
</div>
<%- include ../partials/footer.ejs %> <!--Footer-->